/*Selector de ID*/
#tituloPrincipal {
    color: #66ff66;
    font-size: 50px;
}

.parrafoNegrita {
    font-weight: bold;
    color: crimson;
}
.parrafoEspecial{
    font-family: Comic Sans MS;
    
}
.prioridad{
    color: red;
    
}
.prioridad1{
    color: red;
    
}
.prioridad2{
    color: purple;
    
}

p{
    word-spacing: 5px;
}

a:link{
    color: crimson;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin: 10px;
    border-radius: 25px;
}

a:visited{
    color:black;
}
a:hover{
    color: white;
    background-color: green;
}
a:active{
    color: white;
    background-color: purple;
}